extends layout

block content
    h1 Index, should be at '/help' and '/help/'

    h2
      - var helpWithQuery = "/help?foo=bar";
      | Try accessing me with query params, eg #[a(href="#{helpWithQuery}") #{helpWithQuery}]
      | #[br] I should still work, and if foo is set:
      | #[br] foo.toUpperCase ?= #{baz || "'foo not-found'"}
